<!DOCTYPE html>

body{
  
  font-family: "Arial";
  background-color: #FDF5E6; 
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li { float :left }
li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
h1 {
    color:#660066;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

  div{

    background-color:   #808000;
    position: absolute; 
    width: 70%;
    margin-left: 100px;
    margin-top: 100px;
    padding: 20px;
  }

a{

  color: blue;
}

a:hover{

  color: orangered;
}