@import url(https://fonts.googleapis.com/css?family=Inknut+Antiqua);

.banner {
  Font-family: 'Inknut Antiqua', serif;
  background-color: #FF9233;
  border-radius: 20px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  }

body {

  background-color: black;
  }

ul li {
  display: inline-block
  }

ul li a {
  Font-family: 'Inknut Antiqua', serif;
  color: white;
  display: block;
  float: left;
  margin: 0;
  overflow: hidden;
  padding: 8px;
  text-decoration: none;
  }

  

li a:hover:not(.active) {
  background-color: #111;
  }

.active {
  background-color: #a87bc1;
  }

.container {
  margin: auto;
  position: relative;
  width: 900px;
  }

.col1 {
  background-color:   #FFFFFF;
  border-radius: 25px;
  margin: auto;
  padding: 20px;
  width: 70%;
  }

p {
  color: #000080
  font-family': Times New Roman';
  font-size: 20px;
}

p1 { font-size: small;}

.image img {
  border-radius: 10px;
  left: 800px;
  position: absolute;
  top: 0;
  }

.footer {
  background-color: #138808;
  border-radius: 20px;
  color: white;
  clear: both;
  text-align: center;
  margin: 50px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 33%;
  }

